In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import nltk

In [32]:
df = pd.read_csv("spam.csv", encoding="ISO-8859-1")

In [33]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [34]:
df = df.iloc[:,[0,1]]

In [38]:
df = df.rename(columns={"v1":"spam", "v2":'text'})

In [39]:
df

      spam                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [43]:
for i in range(df["spam"].size):
    row = df.loc[i, "spam"]
    if row == "ham":
        df.loc[i, "spam"] = 0
    elif row == "spam":
        df.loc[i, "spam"] = 1

In [44]:
df

     spam                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...
...   ...                                                ...
5567    1  This is the 2nd time we have tried 2 contact u...
5568    0              Will Ì_ b going to esplanade fr home?
5569    0  Pity, * was in mood for that. So...any other s...
5570    0  The guy did some bitching but I acted like i'd...
5571    0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [54]:
df.isnull().sum()

spam    0
text    0
dtype: int64

In [57]:
for i in df.text[:4]:
    print(i)

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
Ok lar... Joking wif u oni...
Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
U dun say so early hor... U c already then say...

In [63]:
n_spam = df[df.spam == 1].size
n_clear = df[df.spam == 0].size

In [70]:
spam_length = 0
for i in df[df.spam == 1]["text"][:3]:
    spam_length += len(i)
avg_spam_length = spam_length/n_spam
print(f"Average spam messages length is {avg_spam_length}")

Average spam messages length is 0.30856760374832665

In [69]:
avg_spam_length

0.0